<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="register" method="post">
   <input type="text" name="username" placeholder="Enter the user name">
    <input type="text" name="first_name" placeholder="Enter the first name">
    <input type="text" name="last_name" placeholder="Enter the last name">
    <input type="email" name="email" placeholder="Enter youe mail id">
    <input type="password" name="password" placeholder="Enter the password">
    <input type="password" name="password1" placeholder="confirm your password">
    <input type="submit">
</body>
</html>